@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.woff?h08c2j') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bd-gongyehua .path1:before {
  content: "\e900";
  color: rgb(16, 49, 83);
}
.icon-bd-gongyehua .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(16, 49, 83);
}
.icon-bd-gongyehua .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(74, 144, 226);
}
.icon-bd-jingyingtuandui .path1:before {
  content: "\e903";
  color: rgb(68, 147, 243);
}
.icon-bd-jingyingtuandui .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(43, 52, 89);
}
.icon-bd-jingyingtuandui .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(43, 52, 89);
}
.icon-bd-jingyingtuandui .path4:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(43, 52, 89);
}
.icon-bd-jingyingtuandui .path5:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(68, 147, 243);
}
.icon-bd-shenhoukeyan .path1:before {
  content: "\e908";
  color: rgb(16, 49, 83);
}
.icon-bd-shenhoukeyan .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(68, 147, 243);
}
.icon-bd-yunpingtai .path1:before {
  content: "\e90a";
  color: rgb(46, 54, 92);
}
.icon-bd-yunpingtai .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(16, 49, 83);
}
.icon-bd-yunpingtai .path3:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(181, 181, 181);
}
.icon-bd-yunpingtai .path4:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(68, 147, 243);
}
.icon-bd-yunpingtai .path5:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(182, 182, 182);
}
.icon-bd-yunpingtai .path6:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(181, 181, 181);
}
.icon-bd-ziyuanku .path1:before {
  content: "\e910";
  color: rgb(16, 49, 83);
}
.icon-bd-ziyuanku .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(16, 49, 83);
}
.icon-bd-ziyuanku .path3:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(16, 49, 83);
}
.icon-bd-ziyuanku .path4:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(68, 147, 243);
}
.icon-bd-zizhuzhishi .path1:before {
  content: "\e914";
  color: rgb(47, 56, 92);
}
.icon-bd-zizhuzhishi .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-bd-zizhuzhishi .path3:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(74, 144, 226);
}
.icon-bd-zizhuzhishi .path4:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(74, 144, 226);
}
.icon-jingzhunzhineng .path1:before {
  content: "\e918";
  color: rgb(43, 52, 89);
}
.icon-jingzhunzhineng .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(68, 147, 243);
}
.icon-kuaisuxiangying .path1:before {
  content: "\e91a";
  color: rgb(43, 52, 89);
}
.icon-kuaisuxiangying .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(43, 52, 89);
}
.icon-kuaisuxiangying .path3:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(43, 52, 89);
}
.icon-kuaisuxiangying .path4:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(64, 51, 82);
}
.icon-kuaisuxiangying .path5:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(68, 147, 243);
}
.icon-left:before {
  content: "\e91f";
  color: #fff;
}
.icon-quanchanyeliantiao .path1:before {
  content: "\e920";
  color: rgb(46, 54, 92);
}
.icon-quanchanyeliantiao .path2:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(68, 147, 243);
}
.icon-right:before {
  content: "\e922";
  color: #fff;
}
.icon-xialacaidan:before {
  content: "\e923";
}
.icon-txt-icon .path1:before {
  content: "\e983";
  color: rgb(192, 210, 222);
}
.icon-txt-icon .path2:before {
  content: "\e984";
  margin-left: -0.8857421875em;
  color: rgb(190, 209, 221);
}
.icon-txt-icon .path3:before {
  content: "\e985";
  margin-left: -0.8857421875em;
  color: rgb(233, 145, 15);
}
.icon-upload:before {
  content: "\e986";
}
.icon-weixin:before {
  content: "\e987";
  color: #50b674;
}
.icon-pdf-icon .path1:before {
  content: "\e988";
  color: rgb(190, 209, 221);
}
.icon-pdf-icon .path2:before {
  content: "\e989";
  margin-left: -0.8857421875em;
  color: rgb(190, 209, 221);
}
.icon-pdf-icon .path3:before {
  content: "\e98a";
  margin-left: -0.8857421875em;
  color: rgb(36, 146, 247);
}
.icon-pdf-icon .path4:before {
  content: "\e98b";
  margin-left: -0.8857421875em;
  color: rgb(255, 255, 255);
}
.icon-pengyouquan .path1:before {
  content: "\e98c";
  color: rgb(243, 117, 32);
}
.icon-pengyouquan .path2:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(97, 103, 175);
}
.icon-pengyouquan .path3:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(66, 170, 224);
}
.icon-pengyouquan .path4:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(92, 124, 189);
}
.icon-pengyouquan .path5:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(239, 86, 84);
}
.icon-pengyouquan .path6:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(255, 200, 23);
}
.icon-pengyouquan .path7:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(113, 190, 68);
}
.icon-pengyouquan .path8:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(155, 202, 59);
}
.icon-fuzhishuoming:before {
  content: "\e994";
}
.icon-download:before {
  content: "\e995";
}
.icon-fenxiang:before {
  content: "\e996";
}
.icon-canshubianji:before {
  content: "\e997";
}
.icon-right-bangzhu:before {
  content: "\e998";
}
.icon-right-shoucang:before {
  content: "\e999";
}
.icon-order-1tjsq:before {
  content: "\e97e";
}
.icon-order-2sp:before {
  content: "\e97f";
}
.icon-order-3cpzz:before {
  content: "\e980";
}
.icon-order-4cg:before {
  content: "\e981";
}
.icon-order-xiayibu:before {
  content: "\e982";
}
.icon-xiangduishidu:before {
  content: "\e97d";
  color: #fff;
}
.icon-shouye:before {
  content: "\e97c";
  color: #fff;
}
.icon-fengliutu:before {
  content: "\e941";
  color: #fff;
}
.icon-anquanshezhi:before {
  content: "\e979";
  color: #fff;
}
.icon-gongsixinxi:before {
  content: "\e97a";
  color: #fff;
}
.icon-pianhaoshezhi:before {
  content: "\e97b";
  color: #fff;
}
.icon-bd-yujingicon:before {
  content: "\e978";
  color: #fff;
}
.icon-bd-bangzhu:before {
  content: "\e974";
  color: #fff;
}
.icon-bd-fankui:before {
  content: "\e975";
  color: #fff;
}
.icon-bd-ganta:before {
  content: "\e976";
  color: #fff;
}
.icon-bd-kefu:before {
  content: "\e977";
  color: #fff;
}
.icon-fengxiang:before {
  content: "\e970";
}
.icon-hailang:before {
  content: "\e971";
}
.icon-haiwu:before {
  content: "\e972";
}
.icon-weixing:before {
  content: "\e973";
}
.icon-fzybg:before {
  content: "\e96f";
  color: #8bb1dd;
}
.icon-bd-qushiyubao:before {
  content: "\e935";
  color: #fff;
}
.icon-guoneiyubao:before {
  content: "\e96c";
  color: #fff;
}
.icon-quanqiuyubao:before {
  content: "\e96d";
  color: #fff;
}
.icon-zhuan-ye-fu-wu:before {
  content: "\e96e";
  color: #fff;
}
.icon-leida:before {
  content: "\e969";
  color: #fff;
}
.icon-xue:before {
  content: "\e96a";
  color: #fff;
}
.icon-yuntu:before {
  content: "\e96b";
  color: #fff;
}
.icon-zonghedaping:before {
  content: "\e924";
  color: #fff;
}
.icon-zonghehaishang:before {
  content: "\e925";
  color: #fff;
}
.icon-bingdongfuwu:before {
  content: "\e926";
  color: #fff;
}
.icon-shuidian:before {
  content: "\e968";
  color: #fff;
}
.icon-shouqi .path1:before {
  content: "\e960";
  color: rgb(216, 216, 216);
}
.icon-shouqi .path2:before {
  content: "\e961";
  margin-left: -1.0556640625em;
  color: rgb(154, 154, 154);
}
.icon-bangzhu:before {
  content: "\e962";
  color: #4ea7ff;
}
.icon-dingwei:before {
  content: "\e963";
  color: #828282;
}
.icon-fankui:before {
  content: "\e964";
  color: #55abff;
}
.icon-shezhi:before {
  content: "\e965";
  color: #4ea7ff;
}
.icon-shouqi2:before {
  content: "\e966";
}
.icon-zhankai2:before {
  content: "\e967";
}
.icon-bd-fengliutu:before {
  content: "\e92c";
  color: #fff;
}
.icon-bd-shujugengxin:before {
  content: "\e936";
  color: #fff;
}
.icon-bd-tongzhi:before {
  content: "\e937";
  color: #ff5757;
}
.icon-bd-caidan:before {
  content: "\e938";
  color: #fff;
}
.icon-bd-dingwei:before {
  content: "\e92d";
  color: #fff;
}
.icon-bd-dishitianqi:before {
  content: "\e92e";
  color: #fff;
}
.icon-bd-fubing:before {
  content: "\e92f";
  color: #fff;
}
.icon-bd-gedianyubao:before {
  content: "\e930";
  color: #fff;
}
.icon-bd-wudong:before {
  content: "\e931";
  color: #fff;
}
.icon-bd-xianlu:before {
  content: "\e932";
  color: #fff;
}
.icon-bd-xianluyujing:before {
  content: "\e933";
  color: #fff;
}
.icon-bd-zaiqingchuli:before {
  content: "\e934";
  color: #fff;
}
.icon-shouqi1:before {
  content: "\e92b";
  color: #fff;
}
.icon-ditu:before {
  content: "\e927";
  color: #fff;
}
.icon-bofang:before {
  content: "\e928";
  color: #32adff;
}
.icon-bottomyangliu:before {
  content: "\e929";
  color: #fff;
}
.icon-chaowei:before {
  content: "\e92a";
  color: #fff;
}
.icon-chengshi:before {
  content: "\e939";
  color: #fff;
}
.icon-feng:before {
  content: "\e93a";
  color: #fff;
}
.icon-fengdian:before {
  content: "\e93b";
  color: #fff;
}
.icon-fenglanglanggao:before {
  content: "\e93c";
  color: #fff;
}
.icon-fengliutu1:before {
  content: "\e93d";
  color: #fff;
}
.icon-gerenzhongxin:before {
  content: "\e93e";
  color: #fff;
}
.icon-gongcheng:before {
  content: "\e93f";
  color: #fff;
}
.icon-hailanglanggao:before {
  content: "\e940";
  color: #fff;
}
.icon-hangyexinxi:before {
  content: "\e942";
  color: #fff;
}
.icon-huodian:before {
  content: "\e943";
  color: #fff;
}
.icon-isearch:before {
  content: "\e944";
  color: #fff;
}
.icon-jiangshui:before {
  content: "\e945";
  color: #fff;
}
.icon-liangchi:before {
  content: "\e946";
  color: #fff;
}
.icon-middleyangliu:before {
  content: "\e947";
  color: #fff;
}
.icon-nengjiandu:before {
  content: "\e948";
  color: #fff;
}
.icon-photo:before {
  content: "\e949";
  color: #3f94fc;
}
.icon-qita:before {
  content: "\e94a";
  color: #fff;
}
.icon-qiya:before {
  content: "\e94b";
  color: #fff;
}
.icon-qiyexinxi:before {
  content: "\e94c";
  color: #fff;
}
.icon-quanping:before {
  content: "\e94d";
  color: #fff;
}
.icon-quantu:before {
  content: "\e94e";
  color: #fff;
}
.icon-shanchu:before {
  content: "\e94f";
  color: #fff;
}
.icon-shandian:before {
  content: "\e950";
  color: #fff;
}
.icon-shidu:before {
  content: "\e951";
  color: #fff;
}
.icon-shuidian1:before {
  content: "\e952";
  color: #fff;
}
.icon-taifeng:before {
  content: "\e953";
  color: #fff;
}
.icon-tianqixianxiang:before {
  content: "\e954";
  color: #fff;
}
.icon-topyangliu:before {
  content: "\e955";
  color: #fff;
}
.icon-tuli:before {
  content: "\e956";
  color: #fff;
}
.icon-wendu:before {
  content: "\e957";
  color: #fff;
}
.icon-yonglanglanggao:before {
  content: "\e958";
  color: #fff;
}
.icon-yujing:before {
  content: "\e959";
  color: #fff;
}
.icon-zanting:before {
  content: "\e95a";
  color: #32adff;
}
.icon-zhankai:before {
  content: "\e95b";
  color: #d8d8d8;
}
.icon-zhenfeng:before {
  content: "\e95c";
  color: #fff;
}
.icon-zhuceyonghu:before {
  content: "\e95d";
  color: #fff;
}
.icon-zoom_in:before {
  content: "\e95e";
  color: #fff;
}
.icon-zoom_out:before {
  content: "\e95f";
  color: #fff;
}
